<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>
<body>

    <header>
        <div class="logo">T&J PROJECTS</div>
        <nav>
            <a href="#">Produtos</a>
            <a href="#">Clientes</a>
            <a href="#">Compras</a>
        </nav>
    </header>

    <main>
        {%block content%}
            <section id="product-menu">
                <ul> 
                    <h2>Gerenciar Produtos</h2>
                    <li><a href="/cadastrarProdutos/" class="submenu-link">Cadastrar Produto</a></li>
                    <li><a href="/mostrarProdutos/" class="submenu-link">Ver Produtos Cadastrados</a></li>
                </ul>
            </section>

            <section id="client-menu">
                <ul>
                    <h2>Gerenciar Clientes</h2>
                    <li><a href="#" class="submenu-link">Cadastrar Cliente</a></li>
                    <li><a href="#" class="submenu-link">Ver Clientes Cadastrados</a></li>
                </ul>
            </section>

            <section id="purchase-menu">
                <ul>
                    <h2>Gerenciar Compras</h2>
                    <li><a href="#" class="submenu-link">Cadastrar Nova Compra</a></li>
                    <li><a href="#" class="submenu-link">Ver Compras Realizadas</a></li>
                </ul>
            </section>
        {%endblock%}
    </main>

    <footer>
        <p>&copy; 2024 T&J PROJECTS</p>
    </footer>
</body>
</html>