{% extends "index.html" %}
{% block content %}

<div class="product-list">
    {% if mostrarClientes %}
        {% for cliente in mostrarClientes %}
        <div class="product-item">
            <h2>{{ cliente.nome }}</h2>
            <p>CPF: {{ cliente.cpf }}</p>  
            <p>Telefone: {{ cliente.telefone }}</p><br>

            <a href="{% url 'deletarCliente' cliente.id %}" class="delete-link" onclick="return confirm('Tem certeza que deseja deletar?')">
                <i class="fas fa-trash"></i>
            </a>
        </div>
        {% endfor %}
    {% else %}
        <h2>Não há clientes cadastrados</h2>
    {% endif %}
</div><br>

<a href="/cadastrarClientes/" class="submenu-link">Cadastrar Cliente</a>
<a href="/" class="submenu-link">Início</a>

{% endblock content %}
